{% extends 'base.html.twig' %}

{% block title %}Accueil - {{ parent() }}{% endblock %}

{% block body %}
    <div class="container my-24 px-6 mx-auto justify-center">
        <div class="grid md:grid-cols-2 lg:grid-cols-2 gap-x-6 lg:gap-xl-12">
            <div class="mb-12">
                <img class="rounded-lg shadow-lg mb-6 mx-auto" src="https://mdbootstrap.com/img/Photos/Avatars/img%20(9).jpg" alt="avatar" style="width: 150px" />
                <h5 class="text-lg font-bold mb-4">Alain Turgot</h5>
                <p class="mb-6">Frontend Developer</p>
            </div>
                
            <div class="mb-12">
                <img class="rounded-lg shadow-lg mb-6 mx-auto" src="https://mdbootstrap.com/img/Photos/Avatars/img%20(4).jpg" alt="avatar" style="width: 150px" />
                <h5 class="text-lg font-bold mb-4">Veronique Dupond</h5>
                <p class="mb-6">Backend Developer</p>
            </div>

            <div class="mb-12 md:mb-0">
                <img class="rounded-lg shadow-lg mb-6 mx-auto" src="https://mdbootstrap.com/img/Photos/Avatars/img%20(32).jpg" alt="avatar" style="width: 150px" />
                <h5 class="text-lg font-bold mb-4">Thomas Jirwel</h5>
                <p class="mb-6">Digital Marketing Analyst</p>
            </div>

            <div class="mb-12 md:mb-0">
                <img class="rounded-lg shadow-lg mb-6 mx-auto" src="https://mdbootstrap.com/img/Photos/Avatars/img%20(31).jpg" alt="avatar" style="width: 150px" />
                <h5 class="text-lg font-bold mb-4">Emma Lovelace</h5>
                 <p class="mb-6">Web Designer</p>
            </div>
        </div>
    </div>
{% endblock %}
