{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}

    <form class="w-full">
        <div class="max-w-2xl mx-auto border my-4 py-10 px-20 rounded bg-white">
            <h1 class="text-center text-3xl mb-6">Inscription</h1>
        <div>

            {{ form_start(registrationForm) }}

        <div  class="text-center space-x-10 mb-6">
            {{ form_row(registrationForm.email, { label: 'Entrez votre email'}) }}
        </div>
      
        <div class="text-center space-x-10 mb-6">
            {{ form_row(registrationForm.plainPassword, { label: 'Entrez votre mot de passe'}) }}
        </div>

        <div class="flex justify-center space-x-4 items-center mb-6">
            <span class="text-sm">  {{ form_row(registrationForm.agreeTerms) }} </span>
            <button class="shadow bg-green-500 hover:bg-green-400 focus:shadow-outline focus:outline-none text-white font-bold py-2 px-4 rounded" type="button">S'inscrire</button>
        </div>
    </form>

{% endblock %}
